body {
margin:0;
    background-color: #344a72;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwIZBEXoEIfyEqqhZL470oSmtWTNZAoweqmn-4O6HB0rFLNlvdig2td7URDbqvtV7P8po&usqp=CAU);
}

header {
position:sticky;top:0;display:inline-block;
padding:10px;background-color:white;margin-bottom:30px;width:calc(100% - 20px);}
header a{text-decoration:none;text-transform:uppercase;}header *{color:black;
margin-right:20px;}
.brand{
font-size:150%;}
header *{display:inline;}
header *:last-child{
margin-right:0;}

button, input[type="button"] {
    cursor: pointer;
    display: block;
    margin: auto;
}

.content {
    max-width: 600px;
    width: 80%;
    height: 80%;
    padding:30px;
    margin: auto;
    background-color: white;
}

h1 {
    text-align: center;
}

label {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    font-size: 18px;
}

input {
    width: 90%;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 6px;
    display: block;
    margin-left: 10px;
}

input[type="button"], button {
    width: 90%;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
    display: block;
}

input[type="button"]:hover {
    background-color: #45a049;
}

.agree {
    text-align: center;
    font-size: 15px;
}

.part2 {
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
}

.part2 a {
    color: #49c1a2;
    text-decoration: none;
}

.part2 a:hover {
    text-decoration: underline;
}
