body {
    margin: 0;
    background-color: #344a72;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwIZBEXoEIfyEqqhZL470oSmtWTNZAoweqmn-4O6HB0rFLNlvdig2td7URDbqvtV7P8po&usqp=CAU);
}

header {
    position: sticky;
    top: 0;
    display: inline-block;
    padding: 10px;
    background-color: white;
    margin-bottom: 30px;
    width: calc(100% - 20px);
}

header a {
    text-decoration: none;
    text-transform: uppercase;
}

header * {
    color: black;
    margin-right: 20px;
}

.brand {
    font-size: 150%;
}

header * {
    display: inline;
}

header *:last-child {
    margin-right: 0;
}

button,
input[type="button"] {
    cursor: pointer;
    display: block;
    margin: auto;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #49c1a2;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 18px;
}

input,
button {
    width: 90%;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 6px;
    display: block;
    margin: 10px auto;
}

input:focus {
    border-color: #3498db;
}

input[type="button"],
button {
    width: 90%;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
    display: block;
}

button:hover {
    background-color: #45a049;
}

.agree {
    text-align: center;
    font-size: 15px;
}

.part2 {
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
}

.part2 a {
    color: #49c1a2;
    text-decoration: none;
}

.part2 a:hover {
    text-decoration: underline;
}
.book {
    box-shadow: 7px 7px 7px 5px #999999;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.book:hover {
    transform: scale(1.1);
}

.book-cover {
    width: 100%;
    height: auto;
}

.book-details {
    margin-top: 10px;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#bookDetailsAuthor {
    font-style: italic;
}
.book-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book {
    flex: 0 1 calc(30% - 10px);
    margin: 10px 0;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.book:hover {
    transform: scale(1.1);
}

.book-cover {
    width: 100%;
    height: auto;
}

.book-cover-url {
    width: 100%;
    margin-top: 5px;
}

.book-details {
    margin-top: 10px;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#bookDetailsAuthor {
    font-style: italic;
}
.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

button {
    margin-top: 10px;
}