<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title layout:fragment="title"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" th:inline="javascript">
        var user = [[${user}]];
    </script>
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
<header>
<a href="/" class="brand">Library</a>
<a href="/">Home</a>
<a href="/login" th:if="${user==null}">Login</a>
<a href="/sign-up" th:if="${user==null}">Sign up</a>
<a href="/logout" th:unless="${user==null}">Logout</a>
<a href="/create-book" th:unless="${user==null}">Create book</a>
<p th:unless="${user==null}" th:text="${user == null}? 'Welcome!' : |Welcome, ${user.getFirstName()} ${user.getLastName()}!|"></p>
</header>
<div layout:fragment="content">
</div>

<script src="/js/base.js"></script>
</body>
</html>

