<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <title>Edit book</title>
    <script type="text/javascript" th:inline="javascript">
        var bookId = [[${book.id}]];
    </script>
    <script src="/js/editBook.js"></script>
</head>

<div layout:fragment="content" class="content">
    <h1>Sign Up</h1>
    <form onsubmit="submitForm(event)">
        <label for="name">Name:</label>
        <input type="text" th:value="${book.getName()}" id="name" name="name" required><br>

        <label for="urlOfContent">URL of Content:</label>
        <input type="text" th:value="${book.getUrlOfContent()}" id="urlOfContent" name="urlOfContent" required><br>

        <label for="author">Author:</label>
        <input type="text" th:value="${book.getAuthor()}" id="author" name="author" required><br>

        <label for="coverSheet">Cover Sheet:</label>
        <input type="text" th:value="${book.getCoverSheet()}" id="coverSheet" name="coverSheet" required><br>

        <label for="category">Category:</label>
        <input type="text" th:value="${book.getCategory()}" id="category" name="category" required><br>

        <label for="releaseYear">Release Year:</label>
        <input type="number" th:value="${book.getReleaseYear()}" id="releaseYear" name="releaseYear" required><br>

        <label for="pagesAmount">Pages Amount:</label>
        <input type="number" th:value="${book.getPagesAmount()}" id="pagesAmount" name="pagesAmount" required><br>

        <label for="genre">Genre:</label>
        <input type="text" th:value="${book.getGenre()}" id="genre" name="genre" required><br>

        <label for="description">Description:</label>
        <textarea id="description" th:value="${book.getDescription()}" name="description" required></textarea><br>

        <button type="submit">Submit</button>
    </form>
</div>
</html>
