<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <h1>Welcome to our library</h1>
</header>
<div layout:fragment="content" class="content">
    <main>
        <section>
            <form id="filter">
                <h2>Search:</h2>
                <input name="search" type="search">
                <button style="display:inline" type="submit">Search</button>
                <h2>Select genre:</h2>
                <select name="genre" onchange="document.getElementById('filter').submit();" class="form-select" aria-label="Book Genre">
                    <option value="">Select genre</option>
                    <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}" th:selected="${genre == selectedGenre}"></option>
                </select>
                <h2>Select author:</h2>
                <select onchange="document.getElementById('filter').submit();" name="author" class="form-select" aria-label="Book Author">
                    <option value="">Select author</option>
                    <option th:each="author : ${authors}" th:value="${author}" th:text="${author}" th:selected="${author.equals(selectedAuthor)}"></option>
                </select>
            </form>
        </section>
        <section class="books-section">
            <h2>Our books:</h2>
            <div class="book-row">
                <div th:each="book : ${books}" class="book">
                    <a th:href="@{${book.urlOfContent}}" target="_blank">
                        <p type="text" class="book-cover-url" th:text="${book.name}"></p>
                        <img th:src="${book.coverSheet}" th:alt="|Book ${book.id} Cover|" class="book-cover" th:id="'book' + ${book.id} + 'Cover'">
                        <p class="book-author" th:text="'Автор: ' + ${book.author}"></p>
                        <p class="book-description" th:text="${book.description}"></p>
                    </a>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>
