<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <h1>Добро пожаловать в интернет-магазин</h1>
</header>
<div layout:fragment="content" class="content">
    <main>
        <section>
            <h2>Выберите жанр книги:</h2>
            <select class="form-select" aria-label="Book Genre">
                <option selected>Выберите жанр</option>
                <option value="fantasy">Фэнтези</option>
                <option value="sci-fi">Научная фантастика</option>
                <option value="mystery">Детектив</option>
            </select>
        </section>

        <section class="books-section">
            <h2>Популярные книги:</h2>
            <div class="book" onclick="showBookDetails('book1')">
                <input type="text" class="book-cover-url" placeholder="/images/Harry_Potter1">
                <img src="" alt="Book 1 Cover" class="book-cover" id="book1Cover">
                <div class="book-details">
                    <p class="book-title">Название книги 1</p>
                    <p class="book-author">Автор: Автор 1</p>
                    <p class="book-description">Описание книги 1...</p>
                </div>
            </div>

            <div class="book" onclick="showBookDetails('book2')">
                <input type="text" class="book-cover-url" placeholder="URL обложки">
                <img src="" alt="Book 2 Cover" class="book-cover" id="book2Cover">
                <div class="book-details">
                    <p class="book-title">Название книги 2</p>
                    <p class="book-author">Автор: Автор 2</p>
                    <p class="book-description">Описание книги 2...</p>
                </div>
            </div>

        </section>
    </main>
</div>

<div id="bookDetailsModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeBookDetailsModal">&times;</span>
        <h2 id="bookDetailsTitle"></h2>
        <p id="bookDetailsAuthor">Автор:</p>
        <p id="bookDetailsDescription">Описание книги...</p>
    </div>
</div>

<script src="scripts.js"></script>
</body>
</html>
