<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<title layout:fragment="title">Index</title>

<div layout:fragment="content" class="content">
    <h1>Hello, World!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus ultrices ligula non blandit. Suspendisse imperdiet rhoncus interdum. Nullam et libero at orci venenatis iaculis at quis eros. Duis in leo euismod, dapibus ligula sit amet, tempor nisl. Curabitur id nisl imperdiet, ultricies erat sed, vestibulum ligula. Morbi non ultricies risus. Ut sit amet tellus id orci rutrum cursus. Duis sodales nec risus eu sodales. Pellentesque fringilla tellus ac ornare vestibulum.</p>
</div>

</html>
