<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<title layout:fragment="title">Login</title>

<div layout:fragment="content" class="content">
  <h1>Login</h1>
  <form onsubmit="login(event)">
    <label for="username">User: <input id="username" name="username" type="text" placeholder="" required></label>
    <label for="password">Password: <input id="password" name="password" type="password" placeholder="" required></label>
    <button type="submit">Submit</button>
  </form>
  <script src="/js/login.js"></script>
</div>


</html>
